@charset  "UTF=8";

body {
    background-image: url('imagens/wallpaper001.jpg');
}

div.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    height: 300px;
    width: 300px;
}

div#q1 {
    background-color: rgb(103, 103, 201);
}

div#q2 {
    background-image: url('imagens/pattern003.png');
}
div#q3 {
    background-image: linear-gradient(to bottom, yellow,red);
}